* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.clear-fix::after {
   content: "";
   clear: both;
   display: block;
}

body {
   background-image: url(https://cdn.hipwallpaper.com/i/2/19/0WGtwI.gif);
}

.full-login-form {
   width: 800px;
   position: absolute;
   left: 50%;
   top: 260px;
   transform: translateX(-50%);
   overflow: hidden;
   border-radius: 10px;
   box-shadow: 0 0 3px 3px black;
}

.full-login-form .content-part-wrapper {
   clear: both;
}

.full-login-form .content-part-wrapper .content-part {
   float: left;
   width: 400px;
   background-color: transparent;
   color: white;
   padding: 80px 70px 80px 50px;
}

.full-login-form .content-part-wrapper .content-part h2 {
   font-family: 'Quicksand', sans-serif;
   margin-bottom: 5px;
}

.full-login-form .content-part-wrapper .content-part hr {
   color: white;
   width: 45px;
   margin-bottom: 15px;
}

.full-login-form .content-part-wrapper .content-part p {
   text-align: justify;
   width: 275px;
   font-family: "koho", sans-serif;
}

.full-login-form .content-part-wrapper .content-part a {
   margin-top: 30px;
   display: inline-block;
   padding: 10px 20px;
   border-radius: 30px;
   border: 1px solid white;
   margin-left: -5px;
   text-decoration: none;
   color: white;
   font-family: 'Poppins', sans-serif;
   transition: .4s;
}

.full-login-form .content-part-wrapper .content-part a:hover {
   background-color: rgba(61, 61, 63, 0.705);
}

.full-login-form .login-form-wrapper {
   overflow: hidden;
}

.full-login-form .login-form-wrapper .login-form {
   background-color: transparent;
   color: white;
   padding: 80px 70px 80px 50px;
   width: 400px;
   float: right;
   border-left: 2px solid #000;
}

.full-login-form .login-form-wrapper .login-form h2 {
   font-size: 28px;
   font-family: 'Quicksand', sans-serif;
   text-align: center;
   margin-bottom: 30px;
}

.full-login-form .login-form-wrapper .login-form hr {
   width: 50px;
   text-align: center;
   display: inline-block;
}

.full-login-form .login-form-wrapper .login-form form input {
   background-color: transparent;
   outline: none;
   border: none;
   color: white;
   font-size: 18px;
   border-bottom: 1px solid rgba(221, 221, 221, 0.568);
   width: 250px;
   margin-bottom: 45px;
   padding: 0 0 10px 10px;
   margin-left: 0px;
}

.full-login-form .login-form-wrapper .login-form form .btn {
   border: 1px solid rgb(255, 255, 255);
   text-align: left;
   width: auto;
   padding: 10px 25px;
   border-radius: 30px;
   margin-top: -10px;
   transition: .4s;
}

.full-login-form .login-form-wrapper .login-form form .btn:hover {
   background-color: rgba(61, 61, 63, 0.705);
}